/* .signup{
    height: 500px;
    background-image: url(/static/images/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h4{
    color: rgb(0, 0, 0);
} */
